<p id="notice"><%= notice %></p>

<h1>Servertags</h1>

<table>
  <thead>
    <tr>
      <th>Server</th>
      <th>Tag</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @servertags.each do |servertag| %>
      <tr>
        <td><%= servertag.server %></td>
        <td><%= servertag.tag %></td>
        <td><%= link_to 'Show', servertag %></td>
        <td><%= link_to 'Edit', edit_servertag_path(servertag) %></td>
        <td><%= link_to 'Destroy', servertag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Servertag', new_servertag_path %>
