<p class="visible-xs">
  <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas"><i class="glyphicon glyphicon-chevron-left"></i></button>
</p>
<div class="row-offcanvas row-offcanvas-left">
  <%= render partial: 'shared/sidemenu' %>
  <div id="main">
    <div class="col-md-12">
      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
      <div class="row">
        <% @servers.each do |server| %> 
          <div class="col-md-6 server" data-server-id=<%= server.id %>>
            <h2><%= server.name %></h2>
            <% server.containers.each do |container| %>
              <div class="containerBox" data-container-id=<%= container.id %>> 
                <%= container.name %> 
              </div>
            <% end %>
          </div>
        <% end %>
        
        <div class="modal fade" id="newContainerModal" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">New container</h4>
              </div>
              <div class="modal-body">
                <p>
                  <%= render 'containers/form', container: @newContainer %>
                </p>
              </div>
            </div>
          </div>
        </div>
      
      </div>
    </div>
  </div>
</div>
