<p class="visible-xs">
  <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas"><i class="glyphicon glyphicon-chevron-left"></i></button>
</p>
<div class="row-offcanvas row-offcanvas-left">
  <%= render partial: 'shared/sidemenu' %>
  <div id="main" class="container-fluid">
    <div class="row">
      <% @servers.each do |server| %> 
        <div class="col-md-5 server" data-server-id=<%= server.id %>>
          <div class="serverHeader">
            <%= server.name %><%= server.running ? " - Running": " - Stopped" %>
          </div>
          <div class="containers">
            <% server.containers.each do |container| %>
              <div class="containerBox" data-container-id=<%= container.id %>> 
                <div class="containerStatus <%= container.status == 'running' ? 'green': 'red' %>"></div>
                <div class="containerData">
                  <%= link_to container.name, container, id: 'containerName' %>
                  <%= link_to 'Destroy', container, method: :delete, data: { confirm: 'Are you sure?' }, class: 'containerButton' %>
                  <%= link_to container.status == 'running' ? 'Stop': 'Start', container.status == 'running' ? stop_container_path(container): start_container_path(container), class: 'containerButton' %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
      <div class="modal fade" id="newContainerModal" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">New container</h4>
            </div>
            <div class="modal-body">
              <p>
                <%= render 'containers/form', container: @newContainer %>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="newServer" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">New Server</h4>
            </div>
            <div class="modal-body">
              <p>
                <%= render 'servers/form', server: @newServer %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
