<%= form_for(container) do |f| %>
<% if container.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(container.errors.count, "error") %> prohibited this container from being saved:</h2>

  <ul>
    <% container.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>



<div class="form-inputs">
  <div class="form-group has-success has-feedback">
    <%= f.label :name, class: "sr-only" %>
    <%= f.text_field(:name, class: "form-control", placeholder: "Name") %>
  </div>

  <div class="form-group has-success has-feedback">
    <%= f.label :image, class: "sr-only" %>
    <%= f.text_field(:image, class: "form-control", placeholder: "Image") %>
  </div>

  <div class="form-group has-success has-feedback">
    <%= f.label :command, class: "sr-only" %>
    <%= f.text_field(:command, class: "form-control", placeholder: "Command") %>
  </div>

  <div class="form-group has-success has-feedback">
    <%= f.label :exposed_port, class: "sr-only" %>
    <%= f.text_field(:exposed_port, class: "form-control", placeholder: "Exposed Port") %>
  </div>

  <div class="form-group has-success has-feedback">
    <%= f.label :host_port, class: "sr-only" %>
    <%= f.text_field(:host_port, class: "form-control", placeholder: "Host Port") %>
  </div>

  <div class="form-group has-success has-feedback">
    <%= f.label :server_id, class: "sr-only" %>
    <%= f.collection_select :server_id, @servers ,:id,:name, {}, {:class => 'form-control'} %>
  </div>

  <div class="actions">
    <%= f.submit(class: "btn btn-default") %>
    <button type="button" class="btn btn-default right" data-dismiss="modal">Close</button>
  </div>



</div>



<% end %>
