<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @container.name %>
</p>

<p>
  <strong>Container:</strong>
  <%= @container.dockercontainer_id %>
</p>

<p>
  <strong>Image:</strong>
  <%= @container.image %>
</p>

<p>
  <strong>Command:</strong>
  <%= @container.command %>
</p>

<p>
  <strong>Status:</strong>
  <%= @container.status %>
</p>

<p>
  <strong>Exposed port:</strong>
  <%= @container.exposed_port %>
</p>

<p>
  <strong>Host port:</strong>
  <%= @container.host_port %>
</p>

<%= link_to 'Edit', edit_container_path(@container) %> |
<%= link_to 'Back', containers_path %>
