<p id="notice"><%= notice %></p>

<h1>Serverhascontainers</h1>

<table>
  <thead>
    <tr>
      <th>Container</th>
      <th>Server</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @serverhascontainers.each do |serverhascontainer| %>
      <tr>
        <td><%= serverhascontainer.container %></td>
        <td><%= serverhascontainer.server %></td>
        <td><%= link_to 'Show', serverhascontainer %></td>
        <td><%= link_to 'Edit', edit_serverhascontainer_path(serverhascontainer) %></td>
        <td><%= link_to 'Destroy', serverhascontainer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Serverhascontainer', new_serverhascontainer_path %>
