<p id="notice"><%= notice %></p>

<p>
  <strong>Container:</strong>
  <%= @serverhascontainer.container %>
</p>

<p>
  <strong>Server:</strong>
  <%= @serverhascontainer.server %>
</p>

<%= link_to 'Edit', edit_serverhascontainer_path(@serverhascontainer) %> |
<%= link_to 'Back', serverhascontainers_path %>
