<!DOCTYPE html>
<html>
  <head>
    <title>Docker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   	<%= render partial: 'shared/navigation' %>
    <%= yield %>
    
  
  </body>
</html>


<!--

<div class="row-offcanvas row-offcanvas-left">
      <%= render partial: 'shared/sidemenu' %>
      <div id="main">
          <div class="col-md-12">
            <% if notice %>
              <p class="alert alert-success"><%= notice %></p>
            <% end %>
            <% if alert %>
              <p class="alert alert-danger"><%= alert %></p>
            <% end %>
            <%= yield %>
            
          </div>
      </div>
    </div><!--/row-offcanvas -->

